<table style="width:100%">
  <tr>
    <th>Job Title</th>
    <th>Company</th>
    <th>Date</th>
  </tr>

<% csv.each_with_index do |job, index| %>
    <tr>
      <td><a href = <%= job[5] %>> <%= job[0] %></a></td>
      <td><%= job[1] %></td>
      <td><%= job[6] %></td>
    </tr>
<% end %>
</table>